*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* start header **/
.header{
    height: 70px;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}
.header .logo {
    float: left;
    line-height: 70px;
}
.header .navbar {
    float: right;
    width: 50%;
}
.header .navbar ul {
    float: left;
    line-height: 70px;
}
.header .navbar ul li {
    float: left;
    list-style: none;
    margin: 0px 30px;
}
.header .navbar ul li a {
    text-decoration: none;
    color: #000;
    padding:25px 10px ;
}
.header .navbar ul li a:hover{

    border-bottom :2px solid rgb(100, 226, 157) ;
}
.header .navbar .signup{
    float: right;
    line-height: 70px;
}
.header .navbar .signup button{
    background-color:rgb(100, 226, 157) ;
    padding: 10px 45px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-transform:uppercase;
}
/* start main */

.main {
    width: 90%;
    max-width: 1920px;
    height: 700px;
    margin: 70px auto 0 auto;
}
.main .section-content{
    width: 50%;
    float: left;
    margin-top: 176px;
}

.main .section-content .title h1{
    font-weight: 600;
    font-size: 64px;
    color: #113a4e;
}
.main .section-content .title h3{
    font-weight: 300;
    font-size: 38px;
    color: #fba70b;

}
.main .section-content .description{
    width: 650px;
    margin: 40px 0px 72px 0px;
}
.main .section-content .description p{
    line-height: 35px;
    color: #636e72  ;
}
.main .section-content .learn-more a{
    padding: 10px 30px;
    background-color:rgb(100, 226, 157);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;

}
.main .img-right {
    float: right;
}
.main .img-right img{
    width: 800px;
    margin-top: 10px;
}   
